In [4]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import Select
import time
import pandas as pd
#from selenium.webdriver.chrome.service import Service

In [5]:
#path
#ser_obj='path'
#driver=webdriver.Chrome(service=ser_obj)

website='https://www.99acres.com/'
driver=webdriver.Chrome()
driver.get(website)
driver.maximize_window()
#driver.quit()

In [6]:
city=['Bangalore (All)','Pune','Kerala']

In [7]:
#Selecting data for a particular city
element=driver.find_element(by=By.XPATH, value='//input[@class="component__searchInput"]')
#selecting the city 
element.send_keys(city[0])
#setting a waiting time for the drop down to appear
time.sleep(1.5)
#selecting the first element from the dropdown
driver.find_element(By.XPATH,value='//li[@id="0"]').click()
#hitting search button
driver.find_element(By.XPATH,value='//button[@type="submit" and @variant="primaryRegular" ]').click()

In [8]:
val=driver.find_elements(By.XPATH,value='//section[@data-hydration-on-demand="true"]')

In [9]:
building_name=[]
price=[]
region=[]
location=[]
building_type=[]

# Scrapping the data

In [10]:
   for i in range(15): # adjust integer value for need
       # you can change right side number for scroll convenience or destination 
       driver.execute_script("window.scrollBy(0, 4000)")
       # you can change time integer to float or remove
       time.sleep(2)

In [8]:
res=val[6].find_elements(By.XPATH,value='//div[@style="height: 82%;"]')

In [9]:
#extracting residence price and name
res_name=res[1].find_elements(By.XPATH,value='//*[@class="projectTuple__projectName  projectTuple__pdWrap20 ellipsis"]')
res_price=res[1].find_elements(By.XPATH,value='//span[@class="list_header_bold configurationCards__srpPriceHeading configurationCards__configurationCardsHeading"]')
res_loc=res[1].find_elements(By.XPATH,value='//h2[@class="projectTuple__subHeadingWrap body_med ellipsis"]')

In [10]:
for x,y,z in zip(res_name,res_price,res_loc):
    building_name.append(x.text)
    price.append(y.text)
    location.append(z.text)

In [11]:
data={'Residence_name':building_name,'Price':price,'Location_details':location}
df=pd.DataFrame(data)

In [12]:
for i in range(len(res_name)):
    region.append(df['Location_details'][i].split()[-2]+' '+df['Location_details'][i].split()[-1])
df['region']=region

In [13]:
df

,Residence_name,Price,Location_details,region
0,Kumar Prospera,₹ 88.28 L - 1.34 Cr,"2, 3 BHK Apartment in Hennur Road Bangalore North",Bangalore North
1,Vaishnavi Serene,₹ 45.57 - 79.04 L,"1, 2, 3 BHK Apartment in Yelahanka Bangalore N...",Bangalore North
2,SNN Clermont,₹ 3 - 5.85 Cr,"3, 4, 5 BHK Apartment in Hebbal Bangalore North",Bangalore North
3,Jhanavi Noreste,₹ 53.55 - 63 L,"2, 3 BHK Apartment in Sarjapur Road Bangalore ...",Bangalore East
4,Pariwar Wise Palmsprings,₹ 68 - 91.56 L,"2, 3 BHK Apartment in Sarjapur Road Bangalore ...",Bangalore East
...,...,...,...,...
120,Vaibhav Nagar,₹ 10.8 - 21.6 L,Land in Jangamakote Bangalore North,Bangalore North
121,Global Celesta,₹ 35 - 35.93 L,"1, 2, 3 BHK Apartment in Chandapura Bangalore ...",Bangalore South
122,Concorde Spring Meadows,₹ 51.92 L - 7.8 Cr,"1, 2, 3 BHK Apartment in Tumkur Road Bangalore...",Bangalore West
123,Candeur Signature,₹ 47.93 L - 1.24 Cr,"1, 2, 3 BHK Apartment in Varthur Bangalore East",Bangalore East
124,Gopalan Olympia,₹ 59.97 - 89.22 L,"2, 3 BHK Apartment in Mysore Road Bangalore West",Bangalore West

In [14]:
def scorlling_func():
    SCROLL_PAUSE_TIME = 4
    # Get scroll height
    last_height = driver.execute_script("return document.body.scrollHeight")

    while True:
        # Scroll down to bottom
        driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")

        # Wait to load page
        time.sleep(SCROLL_PAUSE_TIME)

        # Calculate new scroll height and compare with last scroll height
        new_height = driver.execute_script("return document.body.scrollHeight")
        if new_height == last_height:
            break
        last_height = new_height